<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <title></title>
    <style type="text/css">
        body {background-color:floralwhite}
    </style>
</head>
<body>
{#    Urls = {{ message }}#}
{#    {{ message.append }}#}
{#    {% if error %}#}
{#        please confirm your choice#}
{#        <input type="button" onclick="myFunction()" value="显示警告框" />#}
{#    {% endif %}#}
<table>
<tr>
    <td>
        <button onclick="judgeRadioClicked()" name="reply" style="margin-left:15px;width: 100px;height: 35px">回帖</button>
    </td>
<td>
{#<form method="get" action=/add_url/ name="WEBCAM-TEST" >#}
    <button name="url_content"   onclick="open_disply_add_url()" style="margin-left:0px;width: 100px;height: 35px" >添加链接</button>
{#    <input type="button" name="url_content" onclick="open_disply_add_url()"  align=center style="margin-left:50px; font-size: 14px;margin-top:0px;background:#f5f5dc; border-color:#f5f5dc" align="center" value="添加链接">#}
{#</form>#}
</td>
<td>
    <button name="reply_content" onclick="open_disply_add_reply()" style="margin-left:0px;width: 100px;height: 35px" >添加回复内容</button>
{#    <input type="button" name="reply_content" onclick="open_disply_add_reply()" align=center style="margin-left:50px; font-size: 14px;margin-top:0px;background:#f5f5dc; border-color:#f5f5dc" align="center" value="添加回复内容">#}
</td>
    <td>
{#    <input type="button" name="reply_content" onclick="test()" align=center style="margin-left:50px; font-size: 14px;margin-top:0px;background:#f5f5dc; border-color:#f5f5dc" align="center" value="测试">#}
     <button name="refresh" onclick="refresh_page()" style="margin-left:850px;width: 100px;height: 35px" >刷新</button>
</td>
    <td>
     <input type="button" name="update_cookie" onclick="update_cookie()" value="更新cookie" style="margin-left:0px;width: 100px;height: 35px" />
</td>
     <td>
     <button name="auto_reply" onclick="display_auto_reply()" style="margin-left:0px;width: 100px;height: 35px" >自动回帖</button>
</td>
    <td>
     <button name="auto_visit" onclick="display_auto_visit()" style="margin-left:0px;width: 100px;height: 35px" >自动访问</button>
</td>

      <td>
     <button name="exit" onclick="exit_page()" style="margin-left:0px;width: 100px;height: 35px" >退出</button>
</td>
</tr>
</table>

<form action="/login_out/" id="exit_page" methord="get">

</form>

<form action="/reply/" id="refresh_page" methord="get">

</form>

<form action="/display_auto_reply/" id="display_auto_reply" methord="get">

</form>

<form action="/display_auto_visit/" id="display_auto_visit" methord="get">

</form>

<form action="/reply/" method="post" id="reply_via_url_content">
{% for m in message %}
  {% if forloop.counter == 1 %}
        <DIV align=center>
{#    <TABLE style="BORDER-COLLAPSE: collapse"  cellSpacing=1 cellPadding=0 width=400 border=0>#}
{#            <input type="radio"  id="url_radio_id" name="url_radio" value="开始">#}
{#            <input type="radio"  id="url_radio_id" name="url_radio" value="停止">#}

            <TABLE  cellSpacing=1 cellPadding=0 width=1650 border=0 >
              <TR>
                <TD>
                  <TABLE cellSpacing=1 cellPadding=0 width="100%" height="35" align=center summary="" border=0>
{#                      <TR>#}
{#                        <TD align=middle bgcolor="#f5f5dc" colSpan=5><FONT  size=2>链接表</FONT></TD>#}
{#                      </TR>#}
                      <TR>

                          <TD width="5%"  bgcolor="#deb887"><FONT  size=3>选择</FONT></TD>
                        <TD width="5%"  bgcolor="#deb887"><FONT size=3>编号</FONT></TD>
                        <TD width="45%"  bgcolor="#deb887"><FONT size=3>链接</FONT></TD>
                        <TD width="45%"  bgcolor="#deb887"><FONT size=3>备注</FONT></TD>

                      </TR>
                    </TABLE>
                 </TD>
              </TR>
              <TR>
                <TD>
                    <DIV style="OVERFLOW: auto; WIDTH: 100%; HEIGHT: 400px" class="table-responsive">
                      <TABLE style="BORDER-COLLAPSE: collapse"  height=273 cellSpacing=1 cellPadding=6 width="99%" class="table table-striped table-bordered">
                          {% for u in m %}
                                <TR>
                                  <TD width="5%" bgColor=#f5f5dc height=17><FONT size=3><input type="checkbox"  id="url_radio_id" name="url_radio" value={{ u.url }}></font></TD>
{#                                  <TD width="5%" bgColor=#f5f5dc height=17><FONT size=3><input type="radio"  id="url_radio_id" name="url_radio" value={{ u.url }}></font></TD>#}
                                  <TD width="5%" bgColor=#f5f5dc height=17><FONT size=3 >{{ u.id }}</FONT></TD>
                                  <TD width="40%" bgColor=#f5f5dc height=17><FONT size=3><a href={{ u.url }} target="_blank">{{ u.url }}</a></FONT></TD>
                                  <TD width="40%" bgColor=#f5f5dc height=17><FONT size=3>{{ u.remark }}</FONT></TD>
                                  <td width="5%" bgColor=#f5f5dc height=17><a style="cursor: pointer" onclick="edit_url({{ u.id }})">编辑</a></td>
                                  <td width="5%" bgColor=#f5f5dc height=17><a style="cursor: pointer" onclick="delete_url({{ u.id }})">删除</a></td>
                                </TR>
                            {% endfor %}
                      </TABLE>
                    </DIV>
                </TD>
                </TR>

            </TABLE>

        </DIV>
  {% elif forloop.counter == 2 %}
        <DIV align=center >
{#    <TABLE style="BORDER-COLLAPSE: collapse"  cellSpacing=1 cellPadding=0 width=400 border=0>#}
            <TABLE  cellSpacing=1 cellPadding=0 width=1650 border=0>
              <TR>
                <TD>
                  <TABLE cellSpacing=1 cellPadding=0 width="100%"  height="35" align=center summary="" border=0>
{#                      <TR>#}
{#                        <TD align=middle bgcolor="#f5f5dc" colSpan=5><FONT  size=2>回复内容表</FONT></TD>#}
{#                      </TR>#}
                      <TR>
                          <TD width="5%"  bgcolor="#deb887"><FONT  size=3>选择</FONT></TD>
                        <TD width="5%" bgcolor="#deb887"><FONT size=3>编号</FONT></TD>
                        <TD width="85%" bgcolor="#deb887"><FONT size=3>回复内容</FONT></TD>
                          <TD width="5%" bgcolor="#deb887"><FONT size=3>删除</FONT></TD>

                      </TR>
                    </TABLE>
                 </TD>
              </TR>
              <TR>
                <TD>
                    <DIV style="OVERFLOW: auto; WIDTH: 100%; HEIGHT: 400px" class="table-responsive">
                      <TABLE style="BORDER-COLLAPSE: collapse"  height=150 cellSpacing=1 cellPadding=6 width="99%" class="table table-striped table-bordered">
                          {% for r in m %}
                                <TR>
                                  <TD width="5%" bgColor=#f5f5dc height=17><FONT size=3><input type="radio" id="reply_radio_id" name="reply_radio" value={{ r.content }}></font></TD>
                                  <TD width="5%" bgColor=#f5f5dc height=17><FONT size=3>{{ r.id }}</FONT></TD>
                                  <TD width="85%" bgColor=#f5f5dc height=17><FONT size=3>{{ r.content }}</FONT></TD>
                                  <td width="5%" bgColor=#f5f5dc height=17><a style="cursor: pointer" onclick="delete_content({{ r.id }})">删除</a></td>
                                </TR>
                            {% endfor %}
                      </TABLE>
                    </DIV>
                </TD>
                </TR>
            </TABLE>
        </DIV>
    {% else %}
      <script>
        {% if m %}
            alert("成功！");
        {% else %}
            alert("失败！");
        {% endif %}
      </script>
  {% endif %}
{% endfor %}
<script>
    {% if flag %}
{#            alert("成功！");#}
        {% else %}
{#            alert("失败！");#}
        {% endif %}
</script>


{#<button type="submit" name="reply" style="margin-left:15px;width: 100px;height: 35px" >回帖</button>#}
{#<input type="submit" name="reply" style="margin-left:50px; font-size: 14px;margin-top:0px;background:#f5f5dc; border-color:#f5f5dc" align="center" value="回帖">#}
</form>

{#<p id="demo"></p>#}
{#<button onclick="myFunction2()">点我</button>#}


</body>
</html>
{#<script>#}
{#    var radioValue = document.getElementsByName('sex');#}
{#    for(var i=0;i<radioValue.length;i++)#}
{#    {#}
{#    if(radioValue[i].checked){#}
{#        console.log(11);#}
{#    }#}
{#    }#}
{#</script>#}

<script>
function refresh_page(){
    document.getElementById('refresh_page').submit();
}

function display_auto_reply(){
    document.getElementById('display_auto_reply').submit();
}

function display_auto_visit(){
    document.getElementById('display_auto_visit').submit();
}

function exit_page(){
    document.getElementById('exit_page').submit()
}

function delete_url(id){
    var confirmMsg = confirm("确定删除?");
    if (confirmMsg) {
        post("/delete_url/",{"id":id});
    } else {
        return false;
    }
}
function delete_content(id){
    var confirmMsg = confirm("确定删除?");
    if (confirmMsg) {
        post("/delete_content/",{"id":id});
    } else {
        return false;
    }
}
function post(URL, PARAMS) {
    console.log(PARAMS);
    var temp = document.createElement("form");
    temp.action = URL;
    temp.method = "post";
    temp.style.display = "none";
    for (var x in PARAMS) {
        var opt = document.createElement("input");
        opt.name = x;
        opt.value = PARAMS[x];
        temp.appendChild(opt);
    }
    console.log(temp);
    document.body.appendChild(temp);
    temp.submit();
    return temp;
}
function open_disply_add_url() {
    window.open('disply_add_url.html', 'newwindow', 'height=300, width=400, top=300, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function open_disply_add_reply() {
    window.open('disply_add_reply.html', 'newwindow', 'height=300, width=400, top=300, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function open_disply_edit_url(id) {
    window.open('disply_edit_url.html', 'newwindow', 'height=300, width=400, top=300, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function open_disply_edit_reply(id) {
    window.open('disply_edit_reply.html', 'newwindow', 'height=300, width=400, top=300, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}


function test() {
    window.open('test1.html', 'newwindow', 'height=900, width=1200, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function myFunction2()
{
	var x;
	var r=confirm("按下按钮!");
	if (r==true)
	{
		x="你按下了\"确定\"按钮!";
	}
	else
	{
		x="你按下了\"取消\"按钮!";
	}
	document.getElementById("demo").innerHTML=x;
}

 function deal_choice(){
{#    var url = $("input[name='url_radio'][checked]").val();  //选择被选中Radio的Value值#}
     radios = document.getElementsByName('reply_radio')
     for (ra in radios){
         url = ra.value
     }
{#     var url = document.getElementById('url_radio_id').value#}
     var reply = document.getElementById('reply_radio_id').value
     alert(url,"sure?")
 }

function judgeRadioClicked()
{
    //获得 单选选按钮name集合
    var url_radios = document.getElementsByName("url_radio");
{#    console.log(url_radios);#}
    var reply_radios = document.getElementsByName("reply_radio");
    var url_flag = 0
    var reply_flag = 0
    //根据 name集合长度 遍历name集合
    for(var i=0;i<url_radios.length;i++)
    {
        //判断那个单选按钮为选中状态
        if(url_radios[i].checked) {
            //弹出选中单选按钮的值
            url_flag = 1
        }
    }
    for(var i=0;i<reply_radios.length;i++)
    {
        //判断那个单选按钮为选中状态
        if(reply_radios[i].checked) {
            //弹出选中单选按钮的值
            reply_flag = 1
        }
    }
    if (url_flag && reply_flag)
    {
        document.getElementById('reply_via_url_content').submit();
    }
    else
    {
        alert("请选择url地址和要回复的内容！");
    }
}

{# 更新cookie #}
function update_cookie(){
       window.open('update_cookie.html', 'newwindow', 'height=300, width=300, top=300, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}
</script>